<div class="modal fade"  id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-1" id="exampleModalLabel">Đặt vé</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark mx-2">
                <div class="text-dark text-lg-start fs-4 fw-bolder">Chọn Ngày</div>
                <div class="mt-2 mb-4 mx-2">
                    <input type="date" [ngModel]="date | date:'yyyy-MM-dd'" class="w-100 px-2 form-select" name="" id="" />
                </div>

                <div class="text-dark text-lg-start fs-4 fw-bolder">Chọn Rạp</div>
                <select (click)="getCinema()" (change)="getShowTime()" class="form-select mx-2 mt-2 mb-4 px-2" aria-label="Default select example" [(ngModel)]="cinemaId">
                    <option  *ngFor="let cinema of cinemaDto"  [ngValue]="cinema.cinemaId"> {{cinema.cinemaName}}</option>
                </select>

                <div class="text-dark text-lg-start fs-4 fw-bolder">Chọn Giờ</div>
                <select (change)="getSeats()" class="form-select mx-2 mt-2 mb-4 px-2" aria-label="Default select example" [(ngModel)]="showtimeId" >
                    <option *ngFor="let showtime  of showtimeDto" [ngValue]="showtime.showTimeId">{{showtime.startTime}}</option>
                </select>

                <div class="text-dark text-lg-start my-2 fs-4 fw-bolder">Chọn Ghế</div>
                <div class="text-center fs-2 text-primary">SCREEN</div>
                <hr />
                <div class="row mx-2 mt-4">
                    <button
                    
                        (click)="select(seat.seatId)"
                        *ngFor="let seat of seatsDto"
                        
                        class="col-sm-1 btn-ticket btn m-1 btn btn-outline-secondary"
                    >
                        {{ seat.seatName }}
                    </button>
                </div>

                <div class="text-dark text-lg-start mt-4 fs-4 fw-bolder">Danh Sách Ghế Vừa chọn</div>
                <div class="mt-2 mx-2">
                    <input type="text" class="w-100 p-1 px-2" ngModel="{{ data }}" name="" id="" />
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="reset()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <a href="/payment" type="button" class="btn btn-primary">Xác nhận</a>
            </div>
        </div>
    </div>
</div>
