<div class="my-4">
    <h3 class="mt-4 container border-bottom">Phim Đang Chiếu</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3" *ngFor="let film of movieDto | paginate: { itemsPerPage: 4, currentPage: p }">
                <div class="card mt-4">
                    <a>
                        <img src="{{ film.image }}" alt="Avatar" class="image position-relative" style="width: 100%" />
                    </a>
                    <div class="middle">
                        <button
                            class="position-absolute translate-middle btn btn-lg btn-outline-light"
                            data-bs-toggle="modal"
                            data-bs-target="#dialog-order"
                            style="bottom: 10px; right: 4%"
                        >
                            Đặt vé
                        </button>

                        <form method="post" action="/detailFilm/{{ film.movieId }}" id="formDetail">
                            <button
                                class="position-absolute translate-middle btn btn-lg btn-outline-light"
                                style="bottom: 10px; left: 30%"
                                (click)="detail(film.movieId)"
                                type="submit"
                                (click)="submit()"
                            >
                                Chi tiết
                            </button>
                        </form>
                    </div>
                    <!-- dialog đặt vé -->
                </div>
                <app-modal-order></app-modal-order>

                <div class="mt-2">{{film.movieName}}</div>
                <!-- <div class="fw-lighter">GIRL FROM THE PAST</div> -->
            </div>
            <pagination-controls
                nextLabel=""
                previousLabel=""
                (pageChange)="p = $event"
                style="font-size: 15px"
                class="text-center mt-4 fs-1"
            ></pagination-controls>
        </div>
    </div>
</div>
<!-- cach lay stt let i= index   -->
